.container {
  padding: 0 0;
}

.home {
  margin-top: 2rem;
}

.dashboard {
  padding: 4rem 2rem;
}
.modal-content {
  color: rgb(129, 224, 248);
  background: rgb(37, 37, 37);
}

.modal-dialog {
  /* position: fixed; */
  margin: 10px;
  /* width: 100%; */
  height: 100%;
  padding: 0;
  max-width: initial;
}

.modal-header .close {
  color: rgb(197, 29, 29);
  margin: 0;
  border: 3px solid rgb(197, 29, 29);
  border-radius: 8vh;
  display: block;
  width: 8vh;
  height: 8vh;
  position: fixed;
  right: 5%;
  opacity: 1;
}

.modal-header span {
  display: none;
}

.modal-dialog span {
  margin: 0 auto;
  padding: 1vh;
}

.modal-content {
  border: 1px solid rgb(129, 224, 248);
}

.modal-header {
  text-align: center;
  margin: 0 auto;
  border: 0;
}

.modal-title {
  font-size: 2rem;
}

.modal-footer {
  border: 0;
}

.modal-footer button {
  padding: 0 2rem;
  text-align: center;
  font-size: 1.5vmax;
  height: 5vmax;
  /* font-size: 150%; */
  background-color: black;
  color: #ccc;
  border: solid 1px rgb(197, 29, 29);
  margin: 0 auto;
}

body, html {
  margin: 0;
  padding: 0 !important;
  font-family: sans-serif;
  height: 100%;
  background: black;
  font-size: 2vmax;
}

.container {
  /* width: 100%; */
  background-color: #333;
  color: rgb(150, 227, 250);
  outline: solid 1px rgb(150, 227, 250);
  box-sizing: border-box;
  background-color: rgb(37, 37, 37);
}

h1 {
  /* font-size: 2rem; */
  text-align: center;
  line-height: 5vmax;
  height: 5vmax;
  font-size: 3vmax;
  margin: 0 auto;
  background: black;
}

h2 {
  font-size: 2rem;
}

.row {
  color: rgb(150, 227, 250);
  margin: auto;
}

.gameButton {
  padding: 0;
  text-align: center;
  font-size: 1.5vmax;
  height: 5vmax;
  /* font-size: 150%; */
  background-color: #333;
  color: rgb(150, 227, 250);
  outline: solid 1px rgb(150, 227, 250);
}

.gameButton:hover {
  color: rgb(182, 238, 255);
  background: linear-gradient(#666, #333);
}

.smButton {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
}

.viewCharacterButton {
  width: 100%;
  font-size: initial;
}

#roomDesc {
  background: linear-gradient(#222, #000);
  display: block;
  width: 100%;
  height: 73vmax;
  padding: 0 .5rem 3vmax;
  overflow: auto;
  border: 1px solid rgb(150, 227, 250);
}

#roomDesc p {
  margin-bottom: 8px;
}

#sidebar {
  font-size: 1.5vmax;
  background: radial-gradient(ellipse, #000, #222);
}

#sidebar p {
  margin-bottom: .25rem;
}

#sidebar div {
  padding: .5rem;
}

#sidebar h2 {
  font-size: 2vmax;
  text-align: center;
  margin-bottom: .25vmax;
}

.form-group {
  margin: 2vmax 0;
}

.commandInput {
  margin: 0;
  padding-left: 1vmax;
  width: 3vmax;
  height: 5vmax;
  line-height: 5vmax;
  vertical-align: bottom;
  text-align: center;
  border-left: 1px solid rgb(150, 227, 250);  
  border-bottom: 1px solid rgb(150, 227, 250);
  border-top: 1px solid rgb(150, 227, 250);
  background-color: rgb(15, 15, 15);  
}

input[type="text"] {
  height: 5vmax;
  border-radius: 0;
  background-color: rgb(15, 15, 15);
  color: rgb(150, 227, 250);
  width: Calc(100% - 3vmax);
  display: inline-block;
  padding-left: 0;
  border-right: 1px solid rgb(150, 227, 250);
  border-bottom: 1px solid rgb(150, 227, 250);
  border-top: 1px solid rgb(150, 227, 250);
  border-left: none;
}

input[type="text"]:focus {
  background-color: rgb(15, 15, 15);
  outline: none;
  color: rgb(150, 227, 250);
}

.user-form .container {
  text-align: center;
  background: black;
  margin: 0;
}

.user-form {
  height: auto;
  overflow: auto;
}

.user-form input {
  margin-left: .5rem;
}

.user-form button {
  background-color: #333;
  color: rgb(150, 227, 250);
  outline: solid 1px rgb(150, 227, 250);
  margin: 0 1rem;
}

.user-form label {
  width: 5rem;
  text-align: right;
}
.user-form label {
  width: 5rem;
  text-align: right;
}

.footnote {
  padding: 2rem 0;
  margin-bottom: 0;
}

h5, h6, h7, h8 {
  text-align: center;
  color: #ccc;
  margin: .5rem;
}

.aboutModal p, .helpModal p {
  margin: .25rem;
} 

.helpModal .modal-body {
  -webkit-column-width: 300px;
  -moz-column-width: 3000px;
       column-width: 300px;
}

/* Saved Games */

.savedGames {
  border: 1px dotted red;
}

.savedGames ul {
  padding: 0;
  border: 1px dotted green;
  list-style: none;
  margin: 0;
}

.savedGames li::before {
  content: "\200B";
}

.savedGames li {
  width: 100%;
  position: relative;
  margin-bottom: 1vmax;
  border: 1px dotted yellow;
  clear: both;
}

.savedGames div {
  display: inline-block;
  border: 1px solid rgb(150, 227, 250);
  margin: 0 .5rem;
  height: 100%;
}

.savedGameName {
  float: left;
  /* position: absolute;
  left: 0; */
}

.savedGameTime {
  color: red;
}
.deleteSaved {
  float: right;
  /* position: absolute;
  right: 0; */
}

/* Tablet Portrait */
@media screen and (min-width: 768px) {
  
  .form-group {
    margin: 0; 
  }
/* 
  smButton {
    width: 100px;
  } */

  .container {
    margin-top: 3vmax;
    padding: 0;
    /* border-left: 1px solid rgb(150, 227, 250); */
  }

  #roomDesc {
    height: 50vmax;
  }
}

/* Tablet Landscape */
@media screen and (min-width: 992px) {

}

/* Desktop */
@media screen and (min-width: 1200px) {

}

/* Big Desktop */
@media screen and (min-width: 1800px) {

}